html, body {
  height: 100%;
  margin: 0;
  padding: 0
  background-color: #427BBC;
}

.intro {
  background-color: #F9FAFB;
  padding-bottom: 10px;
}

.infoWindow {
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.searchbar-input {
  display: block;
  margin: 5px auto;
  background-color: white;
  opacity: 0.8;
}

#map {
  height: 80%;
  width: 100%;
  position: absolute;
  margin: auto;
  padding: 100px;
}